################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/Properties
/.vs/CheckSymbolsNeuroWeb/v16
